{% extends 'base.html' %}
{% block content %}
 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About the store</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>
        <div class = "container">
            <div class = "row">
                <center> 
                     <div class = "col-8">
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut libero velit, pellentesque sed dui at, aliquam bibendum lacus. Ut sit amet purus a magna vehicula tempus non sed lectus. Aenean mattis nec orci ac congue. In nunc nulla, auctor sed leo nec, porta semper nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras ut tortor orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus nec finibus ipsum. Curabitur euismod mattis convallis. Ut blandit, sem in tristique tincidunt, quam tellus eleifend quam, fringilla rutrum velit diam nec elit. Ut dapibus bibendum posuere. In in consectetur ligula.
                        </p>
                        <p>
                    Etiam bibendum mauris a arcu placerat, vel facilisis diam porttitor. In sed pretium sapien. Nunc consectetur metus eget sapien varius, et cursus odio venenatis. Phasellus vel elementum ex. Donec eleifend velit quis neque volutpat congue at ut justo. Proin facilisis auctor sodales. Aliquam vitae elit nisi. Proin sapien sapien, lobortis sagittis lacus luctus, tempus pretium massa. Duis fringilla orci leo, ut vestibulum nulla facilisis vitae. Mauris ultrices nisl ipsum, at fermentum massa fermentum a. Vestibulum elementum odio vel nisl eleifend, at consectetur augue fermentum. Nunc fringilla neque vel tellus tincidunt malesuada. Vestibulum laoreet laoreet nibh. Morbi venenatis tellus urna, quis convallis tortor bibendum eu.    </p>
                        <p>
                       Suspendisse elementum tincidunt leo. Morbi ac massa elementum, mollis mauris eget, interdum dui. Quisque imperdiet libero eu euismod eleifend. Nam ligula quam, rhoncus vitae placerat ut, hendrerit vel nisi. Morbi id sem eget quam mollis maximus nec vitae enim. Mauris facilisis arcu eget vehicula sollicitudin. Vestibulum finibus, urna eu posuere laoreet, tortor elit vehicula eros, ac egestas ante turpis et est. In consectetur consequat laoreet. Duis condimentum pulvinar diam, vel dignissim erat tempus sed. Fusce cursus sit amet massa quis efficitur. Donec dictum, elit nec hendrerit pellentesque, felis magna tristique velit, at pharetra libero ante varius tellus. Aenean lacinia sem convallis dui blandit scelerisque dictum vel metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam tempor dolor ut commodo accumsan. Ut ac congue massa, eu interdum arcu. Quisque eu sapien vitae nisi mollis molestie. </p>
                     </div>
                     <br>
                </center>  
            </div>
     </div>
{% endblock  %}